.mainSection {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    align-items: center;
}

.companyName {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bannerModalContainer {
    display: flex; /* Enables inline layout */
    gap: 2rem; /* Adds spacing between Banner and Modal */
    justify-content: center; /* Centers them horizontally */
    align-items: center; /* Aligns them vertically */
    width: 100%;
}

.banner {
    margin: 2rem;
    padding: 1rem; 
    width: 40rem;
    height: 20rem;
    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.bannerLogo {
    width: 16rem;
}

.modal {
    margin: 2rem;
    padding: 1rem; 
    width: 30rem;
    height: 20rem;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
}

.productsContainer {
    display: flex;
    flex-direction: column;

    width: 90%;

    margin:1rem;
    padding: 1rem;
    border: 1px solid black;
}

.productsHeader {
    margin: 1rem;
    padding: 1rem;
}


.listItem {
    font-size: larger;
    border: 1px solid black;
    padding: 2rem;
    transition: all ease 1000ms;
}
.listItem:hover {
    font-size: larger;
    margin: 0.2rem;

    border: 1px solid black;
    border-radius: 10px;
}
.productsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.imageContainer {
    max-width: 15rem;
}

.image {
    width: 10rem;
}