:root {
    --backgroundColor: rgb(251, 254, 249);
    --textColor: rgb(22, 37, 33);
    --primaryAccentColor: rgb(14, 121, 178);
    --secondaryAccentColor: rgb(192, 224, 222);
    --highlightColor: rgb(79, 124, 172);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backgroundColor);
    color: var(--textColor)
}